body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.sticky-note {
    width: 200px;
    height: 200px;
    background-color: #ffeb3b;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    transform-origin: center center;
}

.sticky-note p {
    margin: 0;
    font-size: 1.2em;
}

.sticky-note:hover {
    /* transform: rotate(-90deg); */
    transform: rotate(-60deg);
}
